apiVersion: v1
kind: Service
metadata:
  name: addressapplication
  labels:
    app: address-svc
spec:
  type: NodePort
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: address
