apiVersion: v1
kind: Service
metadata:
  name: dthapplication
  namespace: testing
spec:
  type: NodePort
  selector:
    app: dthapplication
  ports:
  - port: 8080
    nodePort: 30036
  selector:
    app: dthapplication
